/* utilities */
.bg-white{
  background-color: white;
}

.txt-white{
  color: white;
}

.txt-black{
  color:#031b4e;
}

.txt-blue{
  color: #267cfe;
}

.txt-grey{
  color: #7e88a0;
}

.m-t{
  margin-top: 20px;
}

.p-b{
  padding-bottom: 15px
}

.p-t{
  padding-top: 15px;
}

.p-t-40{
  padding-top: 40px;
}

.p-b-40{
  padding-bottom: 40px;
}

.p-b-70{
  padding-bottom: 70px;
}

.inline-b{
  display: inline-block;
}
/* Fine utilities */

/* Navbar header */

header{
  position: fixed;
  height: 50px;
  width: 100%;
  background: white;
  z-index: 1;
}

header img{
  max-width: 140px;
}

header .list-inline{
  line-height: 2;
}

header .list-inline a,
header .list-inline i{
  color: #0c2354;
  font-size: 15px;
}

.btn-header{
  padding: 0 8px;
  color: #2285fd;
  border-color: #2285fd;
}

.hamburgher{
  display: none;
}
/* Fine navbar */

/* Jumbotron */

#m-jumbotron {
  background-image: url("Assets/bg-banner-home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

#m-jumbotron h1{
  font-size: 50px;
  font-weight: 500;
  line-height: 1;
  max-width: 75%;
}

#m-jumbotron p{
  opacity: 0.7;
  font-size: 16px;
  padding-top: 10px;
  max-width: 75%;
}
/* form Jumbotron */
#m-jumbotron .col-md-5{
  border-radius: 3px;
}

.btn-form-1{
  margin-bottom: 5px;
  background-color: #2386fd;
  color: white;
}

.btn-form-2{
  margin-bottom: 5px;
  background-color: white;
  color: grey;
}

#m-jumbotron button img{
  max-width: 20px;
  float: left;
}

#m-jumbotron h4{
  color:grey;
  font-size: 10px;
}
/* Fine jumbotron */

/* business */
#business{
  background-color: #f3f5f9;
}

#business h2{
  font-size: 15px;
  color: grey;
}

#business img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.m-logo{
  height: 100px;
}

#business .fas{
  font-size: 11px;
}

#business row a:last-child{
  height: 2px;
}
/* Fine business */

/* Deploy section */
 #deploy .list-group{
   max-height: 20px;
   margin-bottom: 20px;
 }
 #deploy .list-group-item{
   border: none;
   border-left: 2px solid #7e88a0;
  }

  #deploy .list-group-item:first-child,
  #deploy .list-group-item:last-child {
    border-radius: 0;
  }

  #deploy p{
    margin: 0 0 10px;
    font-size: 15px;
    color: #7e88a0;
  }

  #deploy h3{
    color: #031b4e;
  }
/* Fine deploy */

/* Developers */

#developer{
  background-color: #f3f5f9;
}

#developer p{
  font-size: 18px;
  margin: 10 auto;
}

#developer img{
  width: 100%;
  margin: 0 auto;
}

#developer button{
  background-color: #f3f5f9;
  border: 2px solid #2386fd;
  border-radius: 50%;
  padding: 3px 3px
}

#developer .bg-blue{
  background-color: #267cfe;
}

#developer .slider{
  position: relative;
}

#developer .slider i{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #031b4e;
  font-size: 40px;
}

#developer .slider .arrow-left{
  left: -40px;
  opacity: 0.7;
}

#developer .slider .arrow-right{
  right: -40px;
}

/* Fine developer */

/* section features */
#features .fas{
  font-size: 11px;
}
/* fine features */

/* section service  */
#service{
  background-image: linear-gradient(180deg, #0047c5, #01209a);
}

#service table>tbody>tr>td{
  border-bottom: 1px solid white;
  border-top: 0;
}

#service table>tbody>tr>td:last-child{
  text-align: right;
}

#service table tbody tr:last-child td {
  border-bottom: 0px; /* DIO C'E' */
}


#service .txt1{
  color:red;
}

#service .txt2{
  text-align: center;
  color:
}

#service .txt2{
  text-align: right;
  color: #267cfe;
}

#service .fas{
  font-size: 11px;
}
/* fine service */

/* development section */
#development{
  background-color: #f3f5f9;
}

#development p{
  font-size: 18px;
  margin: 10 auto;
}

#development h5{
  font-size: 10px;
  margin-bottom: 0;
}

#development h6{
  font-size: 10px;
  margin-top: 0;
  margin-bottom: 10px;
}


#development img{
  margin: 0 auto;
}

#development button{
  background-color: #f3f5f9;
  border: 2px solid #2386fd;
  border-radius: 50%;
  padding: 3px 3px
}

#development .bg-blue{
  background-color: #267cfe;
}

#development .fas{
  font-size: 11px;
}

#development .slider{
  position: relative;
}

#development .slider .arrow-left{
  left: -50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #031b4e;
  font-size: 40px;
  opacity: 0.7;
}

#development .slider .arrow-right{
  right: -50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #031b4e;
  font-size: 40px;
}
/* Fine development */

/* Started section */
#started{
  background-image: linear-gradient(180deg, #0047c5, #01209a);
  height: 200px;
}
/* fine started */

/* footer */

footer{
  background-color: #031b4e;
}

footer h4{
  font-size: 11px;
}

footer h2{
  font-size: 14px;
}

footer .list-inline a,
footer .list-unstyled a{
  color: #7e88a0;
}
/* finefooter */

/* shark */

#shark{
  background: transparent;
  position: fixed;
  left: 65%;
  bottom: 10px;
}

.shark_logo{
  display: inline-block;
  background-color: #0f80ff;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  vertical-align: middle;
  margin-left: 10px;
  position: relative;
}

.shark_logo h2{
  display: inline-block;
  position: absolute;
  bottom: 70%;
  left: 85%;
  background: red;
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid lightgrey;
}

#shark .message{
  display: inline-block;
  background: white;
  height: 40px;
  border-radius: 5px;
  padding: 8px;
  border: 1px solid lightgrey;
}

.message::after{
  content: '';
  position: absolute;
  right: 57px;
  bottom: 6px;
  width: 10px;
  height: 10px;
  background: white;
  transform: rotate(45deg);
}


.shark_logo img{
  width: 100%;
  padding-top:5px;
}

/* fine shark */


/* responsive */
@media screen and (max-width:1199px){
  /* header */
  header .list-inline{
    display: none;
  }

  header .hamburgher{
    display: inline-block;
  }

  /* jumbotron */
  #m-jumbotron h1,
  #m-jumbotron p{
    max-width: 100%;
  }

  .btn-form-1,
  .btn-form-2{
    max-width: 458px;
  }



  /* business */
  .m-logo{
    height: 50px;
  }

  /* deploy */
  #deploy .list-group{
    padding-bottom: 180px;
  }

  .size{
    font-size: 20px;
  }

  .p-b-10{
    padding-bottom: 10px;
  }

  #shark{
    left: 5%;
    bottom: 5px;
  }

  .shark_logo{
    position: absolute;
    left: 0;
    bottom: 60px;
  }

}
